//color
$bg-base: #f2f2f2;
$bg-black: #fff;
$bg-side: #0a7998;


$text-base: #fff;
$text-black: #000;
$text-more: rgb(109, 107, 107);
$text-back: #515151;



//font-size
$font-50: rem750(50);
$font-40: rem750(40);
$font-36: rem750(36);
$font-34: rem750(34);
$font-32: rem750(32);
$font-30: rem750(30);
$font-28: rem750(28);
$font-26: rem750(26);
$font-24: rem750(24);
$font-22: rem750(22);
$font-20: rem750(20);
$font-18: rem750(18);
$font-nav: rem750(27);
$font-title: rem750(33);
$font-wode: rem750(45);
$font-lesson: rem750(55);
$font-back: rem750(40);
$font-head: rem750(36);
$font-list-title: rem750(28);
$font-list-title1: rem750(26);
$font-audio-title: rem750(30);
// margin-bottom
$bottom: rem750(16);
