@import '@/style/base/index.scss';

html, body, .container {
  width:100%;
  height:100%;
}
.container {
  display: flex;
  flex-direction: column;
  .header {
    width: 100%;
    height: rem750(86);
    flex-shrink: 0;
  }
  .content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    flex-grow: 1;
  }
  .footer {
    height: rem750(100);
    flex-shrink: 0;
    @include _flex(space-around,center);
    li {
      @include _flex(space-around, center, column);
      &.router-link-active {
        color:$bg-side;
      }
      &:first-child{
        span {
          font-size: $font-wode;
        }
      }
      &:last-child{
        span {
          font-size: $font-wode;
        }
      }
      span {
        font-size: $font-50;
        padding-bottom: rem750(10)
      }
    }
  }
  .content {
    .detail {
      .video-player {
        .video-js {
          .vjs-poster {
            background-size: 100% 100%;
          }
          .vjs-big-play-button{
            height: rem750(85) !important;
            width: rem750(85);
            line-height: rem750(85) !important;
            border-radius: 50%;
            background-color: rgba(0,0,0,0.8);
            border:0;
            left:0;
            right:0;
            bottom:0;
            margin:auto;
          }
        }
      }
    }
  }
}
.mint-header {
  .mint-header-button {
    height: rem750(60);
    .back {
      height: 100%;
      .mint-button {
        height: 100%;
        .mint-button-text {
          h1 {
            color: $text-black;
            font-size: $font-head;
          }
        }
        .mint-button-icon {
          .mintui {
            color:$text-back;
            font-size: $font-back;
          }
        }
      }
    }
  }
  .is-right {
    .mint-button {
      height: rem750(60)
    }
  }
  .mint-header-title {
    line-height: rem750(45)
  }
}
